In [1]:
import pandas as pd
fbase = pd.read_csv('./1_filtered.csv', header=None)
fbase.head()

          0         1         2         3
0  8.456798 -4.466378  7.215951  0.019221
1  8.454815 -4.464132  7.212556  0.019295
2  8.453542 -4.461002  7.207107  0.019680
3  8.449433 -4.457170  7.201194  0.020556
4  8.440568 -4.453560  7.195996  0.020409

In [2]:
import dataset_creation as dtc

ds, _ = dtc.create_dataset(fbase)

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   class            50 non-null     object
 1   SENSOR0_RMS      50 non-null     float64
 2   SENSOR0_WAVELEN  50 non-null     float64
 3   SENSOR0_WAMP     50 non-null     int64
 4   SENSOR0_APPEN    50 non-null     float64
 5   SENSOR0_SAMPEN   50 non-null     float64
 6   SENSOR0_MAV      50 non-null     float64
 7   SENSOR1_RMS      50 non-null     float64
 8   SENSOR1_WAVELEN  50 non-null     float64
 9   SENSOR1_WAMP     50 non-null     int64
 10  SENSOR1_APPEN    50 non-null     float64
 11  SENSOR1_SAMPEN   50 non-null     float64
 12  SENSOR1_MAV      50 non-null     float64
 13  SENSOR2_RMS      50 non-null     float64
 14  SENSOR2_WAVELEN  50 non-null     float64
 15  SENSOR2_WAMP     50 non-null     int64
 16  SENSOR2_APPEN    50 non-null     float64
 17  SENSOR2_SAMPEN   50 non-null     float64
 18  SENSOR2_MAV      50 non-null     float64
 19  SENSOR3_RMS      50 non-null     float64
 20  SENSOR3_WAVELEN  50 non-null     float64
 21  SENSOR3_WAMP     50 non-null     int64
 22  SENSOR3_APPEN    50 non-null     float64
 23  SENSOR3_SAMPEN   50 non-null     float64
 24  SENSOR3_MAV      50 non-null     float64
dtypes: float64(20), int64(4), object(1)
memory usage: 9.9+ KB